{% import "ProjectHelloMainBundle:Fragments:form_macros.html.twig" as forms %}

{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}
    {% if add_message_action is not defined %}
        {% set add_message_action = '' %}
    {% endif %}

    {% if collaborator_name is not defined %}
        {% set collaborator_name = 'Neri Celeste' %}
    {% endif %}

    {% if recipient_name is not defined %}
        {% set recipient_name = 'Mon Abilar' %}
    {% endif %}
    
    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}

    <form action="{{ add_message_action }}" class="form-horizontal" method="post">
        <h1>Hi {{ collaborator_name }},</h1>
        <fieldset>
            <legend>What is your message for {{ recipient_name }}</legend>
            {% block message_field %}
                {{ forms.extra_large_textarea('collaborator-message', '', 'Message') }}
            {% endblock %}
        </fieldset>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Submit Message</button>
        </div>
    </form>
{% endblock %}