{% import "ProjectHelloMainBundle:Fragments:form_macros.html.twig" as forms %}

{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}
    {% if create_card_action is not defined %}
        {% set create_card_action = '' %}
    {% endif %}

    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}

    <form action="{{ create_card_action }}" class="form-horizontal" method="post">
        <h1>Create a card</h1>

        <fieldset>
            <legend>My name is</legend>
            
            {% block creator_name_field %}
                {{ forms.input_text('creator-name', '', 'Creator Name') }}
            {% endblock %}

            {% block creator_email_field %}
                {{ forms.email('creator-email', '', 'Creator Email') }}
            {% endblock %}
        </fieldset>

        <fieldset>
            <legend>I will create this card for</legend>
            
            {% block recipient_name_field %}
                {{ forms.input_text('recipient-name', '', 'Recipient Name') }}
            {% endblock %}

            {% block recipient_email_field %}
                {{ forms.email('recipient-email', '', 'Recipient Email') }}
            {% endblock %}

        </fieldset>
        <fieldset>
            <legend>What is my message</legend>

            {% block creator_message_field %}
                {{ forms.textarea('creator-message', '', 'Creator Message') }}
            {% endblock %}
        </fieldset>
        <fieldset>
            <legend>I will invite others to add messages to the card</legend>

            {% for i in 1..2 %}
                {% include 'ProjectHelloMainBundle:Fragments:collaborator_field.html.twig' %}
            {% endfor %}

            <div class="form-actions">
                <button class="btn" id="add-collaborator-btn">Add a collaborator</button>
            </div>

            {{ forms.textarea('collaborator-instruction', '', 'Instructions') }}

        </fieldset>

        <fieldset>
            <legend>This card must be sent on this date</legend>
            <div class="control-group">
                <label class="control-label" for="sending-date">Sending Date</label>
                <div class="controls">
                    {% block sending_date_field %}
                        <input id="sending-date" type="text" class="span2" value="06-22-2012" />
                    {% endblock %}
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create and Submit</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ProjectHelloMainBundle/Resources/public/js/bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    	$(function(){
            $('#sending-date').datepicker({
                format: 'mm-dd-yyyy'
            });
            $('#add-collaborator-btn').click(function(e){
            	e.preventDefault();
            	
            	var $newCollaborator = $('.collaborator:last').clone();
		    	$newCollaborator.find('#collaborator-name').attr('value', '');
		    	$newCollaborator.find('#collaborator-email').attr('value', '');
            	console.log($newCollaborator);
            	$('.collaborator:last').after($newCollaborator);
		        
		        return false;
            });
        });
    </script>
{% endblock %}