{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}
    {% if create_card_action is not defined %}
        {% set create_card_action = '' %}
    {% endif %}

    {% set textarea_classname = 'input-xlarge' %}
    {% set text_classname = 'focused ' ~ textarea_classname %}
    
    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}

    <form action="{{ create_card_action }}" class="form-horizontal" method="post">
        <h1>Create a card</h1>

        <fieldset>
            <legend>My name is</legend>
            <div class="control-group">
                <label class="control-label" for="creator-name">Creator Name</label>
                <div class="controls">
                    {% block creator_name_field %}
                        <input id="creator-name" type="text" class="{{ text_classname }}" />
                    {% endblock %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="creator-email">Creator Email</label>
                <div class="controls">
                    {% block creator_email_field %}
                        <input id="creator-email" type="text" class="{{ text_classname }}" />
                    {% endblock %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>I will create this card for</legend>
            <div class="control-group">
                <label class="control-label" for="recipient-name">Recipient Name</label>
                <div class="controls">
                    {% block recipient_name_field %}
                        <input id="recipient-name" type="text" class="{{ text_classname }}" />
                    {% endblock %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="recipient-email">Recipient Email</label>
                <div class="controls">
                    {% block recipient_email_field %}
                        <input id="recipient-email" type="text" class="{{ text_classname }}" />
                    {% endblock %}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>What is my message</legend>
            <div class="control-group">
                <label class="control-label" for="creator-message">Creator Message</label>
                <div class="controls">
                    {% block creator_message_field %}
                        <textarea id="creator-message" class="{{ textarea_classname }}"></textarea>
                    {% endblock %}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>I will invite others to add messages to the card</legend>

            {% for i in 1..2 %}
                {% include 'ProjectHelloMainBundle:Fragments:collaborator_field.html.twig' with {
                    text_classname : text_classname
                } %}
            {% endfor %}

            <div class="form-actions">
                <button class="btn" id="add-collaborator-btn">Add a collaborator</button>
            </div>

            <div class="control-group">
                <label class="control-label" for="collaborator-instruction">Instructions</label>
                <div class="controls">
                    {% block instruction_field %}
                        <textarea id="collaborator-instruction" class="{{ textarea_classname }}"></textarea>
                    {% endblock %}
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>This card must be sent on this date</legend>
            <div class="control-group">
                <label class="control-label" for="sending-date">Sending Date</label>
                <div class="controls">
                    {% block sending_date_field %}
                        <input id="sending-date" type="text" class="span2" value="06-22-2012" />
                    {% endblock %}
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create and Submit</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ProjectHelloMainBundle/Resources/public/js/bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    	$(function(){
            $('#sending-date').datepicker({
                format: 'mm-dd-yyyy'
            });
            $('#add-collaborator-btn').click(function(e){
            	e.preventDefault();
            	
            	var $newCollaborator = $('.collaborator:last').clone();
		    	$newCollaborator.find('#collaborator-name').attr('value', '');
		    	$newCollaborator.find('#collaborator-email').attr('value', '');
            	console.log($newCollaborator);
            	$('.collaborator:last').after($newCollaborator);
		        
		        return false;
            });
        });
    </script>
{% endblock %}