{% extends 'ProjectHelloMainBundle:Default:add_message.html.twig' %}

{% if collaborator_name is not defined %}
    {% set collaborator_name = 'Neri Celeste' %}
{% endif %}

{% if recipient_name is not defined %}
    {% set recipient_name = 'Mon Abilar' %}
{% endif %}

{% block message_field %}
    <div class="control-group">
        <label class="control-label" for="{{ form.message.vars.id }}">Message</label>
        <div class="controls">
            <textarea id="{{ form.message.vars.id }}" name="{{ form.message.vars.full_name }}" class="input-xxlarge">{{ form.message.vars.value }}</textarea>
        </div>
    </div>
    {{ form_widget(form._token) }}
{% endblock %}
{#
{% block javascripts %}
    <script type="text/javascript">
    (function($){
    	$(function(){
    		$('#add-message-form').submit(function(e){
    			e.preventDefault();
    			
    			$.ajax({
    				url: {{ add_message_action }}
    			});
    			
    			return false;
    		});
    	});
    })(jQuery);
    </scriipt>
{% endblock %}
#}