{% extends 'ProjectHelloMainBundle:Default:create_card_new.html.twig' %}

{% set create_card_action = path('create_card') %}

{% block creator_name_field %}
    {{ forms.fieldRow(form.creatorName, 'Creator Name') }}
{% endblock %}

{% block recipient_name_field %}
    {{ forms.fieldRow(form.recipientName, 'Recipient Name') }}
{% endblock %}

{% block recipient_email_field %}
    {{ forms.fieldRow(form.recipientEmailAddress, 'Recipient Email') }}
{% endblock %}

{% block creator_message_field %}
    {{ forms.fieldRow(form.message, 'Creator Message', 'input-xlarge') }}
{% endblock %}

{% block collaborator_field %}
	<div id="collaborator-container" data-prototype="{{ forms.fieldGroupCollection(form.collaborators, 'ProjectHelloMainBundle:Fragments:collaborator_field_new.html.twig') | e }}"></div>
	{#
	{{ forms.fieldGroupCollection(form.collaborators, 'ProjectHelloMainBundle:Fragments:collaborator_field_new.html.twig') }}
	#}
{% endblock %}

{% block instruction_field %}
    {{ forms.fieldRow(form.instruction, 'Instructions', 'input-xlarge') }}
{% endblock %}

{% block sending_date_field %}
    {{ forms.fieldRow(form.sendingDate, 'Sending Date') }}
{% endblock %}

{% block hidden_fields %}
    {{ form_widget(form._token) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
    (function($){
    	var collectionHolder = $('#collaborator-container');
    	
    	$('#card_sendingDate').datepicker({
            dateFormat: 'yy-mm-dd',
            showAnim: 'fadeIn',
            minDate: '+1'
        });
        
        function removeCollaborator($el, e) {
        	e.preventDefault();
        	$el.parent().remove();
        	return false;
        }
    	
    	function addCollaboratorForm(collectionHolder) {
    		// Get the data-prototype
    		var prototype = collectionHolder.attr('data-prototype');
    		
    		// Replace '$$name$$' in the prototype's HTML to
    		// instead be a number based on the current collection's length.
    		var $newForm = $(prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length));
    		$newForm.find('.remove-collaborator-btn').show().bind('click', function(e){
    			removeCollaborator($(this), e);
    		});
    		$newForm.find('input[id^=card_collaborators]').attr('value', '');
    		collectionHolder.append($newForm);
    	}
    	
    	$(function(){
            $('.remove-collaborator-btn').click(function(e){
            	removeCollaborator($(this), e);
            })
    		$('#add-collaborator-btn').click(function(e){
    			// prevent the link from creating a "#" on the URL
    			e.preventDefault();
    			addCollaboratorForm(collectionHolder);
    		});
    		if (collectionHolder.is(':empty')){
    			$('#add-collaborator-btn').trigger('click');
    		}
    		if ($('.collaborator').index() < 2) {
        		$('.remove-collaborator-btn').hide();
        	}
    	});
    })(jQuery);
    </script>
{% endblock %}