{% macro input_text(id, name, label, value, type, max_length, required) %}
    <div class="control-group">
        <label class="control-label" for="{{ id|default('') }}">{{ label }}</label>
        <div class="controls">
            <input
                id="{{ id|default('') }}"
                name="{{ name|default('') }}"
                type="{{ type|default('text') }}"
                class="focused input-xlarge"
                value="{{ value|default('') }}"
                {% if required is sameas(true) %} required="required" {% endif %}
                {% if max_length > 0 %} maxlength="{{ max_length }}" {% endif %}
            />
        </div>
    </div>
{% endmacro %}

{# macro password(id, name, label, max_length, required) %}
    {{ _self.input_text(id|default(''), name|default(''), label|default(''), '', password', max_length|default(0), required|default(false)) }}
{% endmacro #}

{% macro email(id, name, label, value, max_length, required) %}
    {{ _self.input_text(id|default(''), name|default(''), label|default(''), value|default(''), 'email', max_length|default(0), required|default(false)) }}
{% endmacro %}

{% macro date(id, name, label, value) %}
    <div class="control-group">
        <label class="control-label" for="{{ id|default('') }}">{{ label|default('') }}</label>
        <div class="controls">
            <input id="{{ id|default('') }}" name="{{ name|default('') }}" type="date" class="span2" value="{{ value|default('') }}" />
        </div>
    </div>
{% endmacro %}

{% macro textarea(id, name, label, value, class) %}
    <div class="control-group">
        <label class="control-label" for="{{ id|default('')}}">{{ label }}</label>
        <div class="controls">
            <textarea id="{{ id|default('') }}" name="{{ name|default('') }}" class="{{ class|default('input-xlarge') }}">{{ value|default('') }}</textarea>
        </div>
    </div>
{% endmacro%}

{# macro extra_large_textarea(id, name, label, value) %}
    {{ _self.textarea(id|default(''), name|default(''), label|default(''), value|default(''), 'input-xxlarge') }}
{% endmacro #}