{% macro input_text(id, name, label, type, max_length, required) %}
    <div class="control-group">
        <label class="control-label" for="{{ id|default('') }}">{{ label }}</label>
        <div class="controls">
            <input
                id="{{ id|default('') }}"
                name="{{ name|default('') }}"
                type="{{ type|default('text') }}"
                class="focused input-xlarge"
                {% if required is sameas(true) %} required="required" {% endif %}
                {% if max_length > 0 %} maxlength="{{ max_length }}" {% endif %}
            />
        </div>
    </div>
{% endmacro %}

{% macro password(id, name, label, max_length, required) %}
    {{ _self.input_text(id, name, label, 'password', max_length, required) }}
{% endmacro %}

{% macro email(id, name, label, max_length, required) %}
    {{ _self.input_text(id, name, label, 'email', max_length, required) }}
{% endmacro %}

{% macro textarea(id, name, label, class) %}
    <div class="control-group">
        <label class="control-label" for="{{ id|default('')}}">{{ label }}</label>
        <div class="controls">
            <textarea id="{{ id|default('') }}" name="{{ name|default('') }}" class="{{ class|default('input-xlarge') }}"></textarea>
        </div>
    </div>
{% endmacro%}

{% macro extra_large_textarea(id, name, label) %}
    {{ _self.textarea(id, name, label, 'input-xxlarge') }}
{% endmacro %}